<footer style="padding: 20px" class="fixed-bottom bg-primary">
  <div class="footer_copy container">
    <div>
      <a href="https://www.facebook.com/" target="_black">
        <i class='bis bi-facebook' style='font-size:24px;color:white'></i>
      </a>&nbsp;&nbsp;
      <a href="https://www.instagram.com/" target="_black">
        <i class="bis bi-instagram" style='font-size:24px;color:white'></i>
      </a>&nbsp;&nbsp;
      <a href="https://www.youtube.com/" target="_black">
        <i class='bis bi-youtube' style='font-size:24px;color:white'></i>
      </a>&nbsp;&nbsp;
      <a href="https://www.twitter.com/" target="_black">
        <i class="bis bi-twitter" style='font-size:24px;color:white'></i>
      </a>
    </div>
    <div class="footer_copyright container">
      Copyright &copy; 2024 - Creado por {{creador.nombre}} {{creador.apellido}}<br>
      Sitio desarrollado en: {{creador.lenguajes[2]}}<br>
    </div>
  </div>
</footer>