<div class="card" style="padding: 10px; margin: 10px;">
  <h3>Productos</h3>
  <table class="table table-light table-bordered-stripped">
    <thead class="table-success">
      <tr>
        <th>Código</th>
        <th>Tipo</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Imagen</th>
      </tr>
    </thead>
    <tbody style="vertical-align:middle">
      <tr *ngFor="let producto of productos">
        <td>{{producto.id}}</td>
        <td>{{producto.tipo}}</td>
        <td>{{producto.nombre}}</td>
        <td>{{producto.descripcion}}</td>
        <td>{{producto.precio}}</td>
        <td>
          <img src={{producto.imagen}} class="d-block mx-auto img-fluid" style="max-width:60px">
        </td>
        <td>&nbsp;&nbsp;
      </tr>
    </tbody>
  </table>
</div>