<div class='row cointainer home'>
  <div  class="col-md-6" style="justify-content: center">
    <h2>Bienvenido a nuestra tienda en línea</h2><br>
    <div style="text-align: justify">
      <p>En Mi Tienda, nos enorgullece ofrecerte una experiencia de compra en línea excepcional. Somos una tienda
        especializada en brindarte lo mejor en moda, tecnología y estilo de vida. Desde la comodidad de tu hogar, podrás
        explorar una amplia gama de productos cuidadosamente seleccionados que se adaptan a tus necesidades y gustos.
      </p>
      <p>Ofrecemos una amplia variedad de productos, incluyendo:</p>
    </div>
    <ul>
      <li>Ropa</li>
      <li>Zapatos</li>
      <li>Electrónica</li>
    </ul>
  </div>
  <div class="card col-md-6">
    <div id="demo" class="carousel slide" data-bs-ride="carousel">
      <!-- The slideshow/carousel -->
      <div class="carousel-inner home">
        <div class="carousel-item" style="justify-items: center">
          <img src="../../../assets//image//ropa1.jpg" class="d-block mx-auto img-fluid" style="max-width: 50%">
        </div>
        <div class="carousel-item">
          <img src="../../../assets//image//ropa2.jpg" class="d-block mx-auto img-fluid" style="max-width: 50%">
        </div>
        <div class="carousel-item">
          <img src="../../../assets//image//zapatos1.jpg" class="d-block mx-auto img-fluid" style="max-width: 50%">
        </div>
        <div class="carousel-item active">
          <img src="../../../assets//image//zapatos2.jpg" class="d-block mx-auto img-fluid" style="max-width: 50%">
        </div>
        <div class="carousel-item">
          <img src="../../../assets//image//electronica1.jpg" class="d-block mx-auto img-fluid" style="max-width: 50%">
        </div>
        <div class="carousel-item">
          <img src="../../../assets//image//electronica2.jpg" class="d-block mx-auto img-fluid" style="max-width: 50%">
        </div>
      </div>
      <!-- Left and right controls/icons -->
      <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>
  </div>
</div>